/* General */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Container */

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */

.sidebar {
    width: 280px;
    /* background-color: #ffffff; */
    padding: 20px;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
}

.avatar-box {
    text-align: center;
    margin-bottom: 20px;
}

.avatar-box img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.avatar-box h1 {
    margin: 0;
    font-size: 1.2em;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, border-right 0.3s;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 3px solid transparent;
}

.sidebar nav ul li a:hover {
    background-color: #f0f0f0;
    border-left: 3px solid #0067b8;
}

.sidebar nav ul li .icon-box:hover {
    color: #0067b8;
}

.contacto {
    margin-top: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contacto li {
    list-style-type: none;
}

.contacto ion-icon {
    padding-right: 10px;
}

.contacto a {
    display: block;
    color: #0067b8;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px 0;
}

.social-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #0067b8;
}

/* Contenedor Principal */

.main-content {
    flex: 1;
    padding: 20px;
    /* background-color: #f9f9f9; */
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
    color: #0067b8;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.card h3 {
    margin-bottom: 5px;
}

.card p {
    padding-bottom: 3px;
}

.card li {
    padding-bottom: 5px;
}

.project-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.project-card {
    margin-bottom: 20px;
    padding-right: 20px;
}

.project-card a {
    color: #0067b8;
    text-decoration: none;
}

/* certificados */

.cert-container {
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.dg-container {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    perspective: 1200px;
    padding: 0;
    /* Adds depth for 3D effect */
}

.dg-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* Ensures 3D transforms are preserved */
}

.dg-wrapper a {
    color: #333;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 45%;
    /* Ajusta la posicion vertical de las imagenes */
    left: 50%;
    width: 350px;
    /* Ancho de imagen */
    height: 225px;
    /* Alto de imagen */
    margin-top: -112.5px;
    /* Mitad del alto para el centrado */
    margin-left: -175px;
    /* Mitad del ancho para el centrado */
    opacity: 0;
    visibility: hidden;
    transform-style: preserve-3d;
}

.dg-wrapper a img {
    width: 350px;
    /* Set a fixed width */
    height: 230px;
    /* Set a fixed height */
    object-fit: cover;
    /* Ensures the image fills the area without distortion */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.dg-center {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateZ(200px) rotateY(0deg) !important;
    /* Brings the center card forward */
}

.dg-left {
    transform: translateX(-300px) translateZ(-200px) rotateY(45deg);
    /* Position to the left and tilt */
    opacity: 1;
    visibility: visible;
}

.dg-right {
    transform: translateX(300px) translateZ(-200px) rotateY(-45deg);
    /* Position to the right and tilt */
    opacity: 1;
    visibility: visible;
}

.dg-outleft,
.dg-outright {
    transform: translateZ(-400px);
    /* Cards that are out of view */
    opacity: 0;
    visibility: hidden;
}

.dg-transition {
    transition: all 0.6s ease-in-out;
}


/* Lenguajes */

.language-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.language-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.language-card h3 {
    color: #0067b8;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 1.2em;
}

.language-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.language-item {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.language-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.language-info {
    flex-grow: 1;
}

.language-info h4 {
    margin: 0 0 5px 0;
    font-size: 1em;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 8px;
    border-radius: 10px;
}

/* Colores específicos para cada barra de progreso */

.progress-bar.html {
    background-color: #ed3d3b;
}

.progress-bar.css {
    background-color: #1e8bcd;
}

.progress-bar.js {
    background-color: #F7DF1E;
}

.progress-bar.wordpress {
    background-color: #0e638b;
}

.progress-bar.python {
    background-color: #fb983b;
}

.progress-bar.django {
    background-color: #18ab50;
}

.progress-bar.postgresql {
    background-color: #336791;
}

.progress-bar.sqlite {
    background-color: #1e8bcd;
}

.progress-bar.MySql {
    background-color: #F7DF1E;
}

.progress-bar.git {
    background-color: #F05032;
}

.progress-bar.github {
    background-color: #a846b2;
}

/* tests psicologicos */

.tests-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tests-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tests-card h3 {
    color: #0067b8;
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 1.2em;
}

.tests-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tests-item {
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}


/* colapsable */

.section-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    color: #605e5c;
    font-size: 16px;
    transition: transform 0.1s linear;
}

.collapsible-section.collapsed .arrow {
    transform: rotate(180deg);
}

.section-content {
    /* max-height: 1200px; */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.collapsible-section.collapsed .section-content {
    max-height: 0;
}

/* Boton principal */

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.main-button,
.secondary-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 20px;
}

.main-button {
    background-color: #0067b8;
    z-index: 2;
}

.secondary-button {
    background-color: #0067b8;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s, transform 0.3s;
}

.whatsapp-button {
    background-color: #25D366;
}

.phone-button {
    background-color: #0067b8;
}

.main-button:hover,
.secondary-button:hover {
    transform: scale(1.1);
}

.main-button.active {
    transform: rotate(45deg);
    background-color: #004a90;
}

.main-button.active~.secondary-button {
    opacity: 1;
    transform: scale(1);
}

/* Estilos para el modo oscuro */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

body.dark-mode .sidebar {
    background-color: #1e1e1e;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .sidebar nav ul li a {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode .sidebar nav ul li a:hover {
    background-color: #2c2c2c;
}

body.dark-mode .card h2 {
    color: #4da3ff;
    border-bottom-color: #333;
}

body.dark-mode .contacto {
    background-color: #1e1e1e;
}

body.dark-mode .contacto a {
    color: #4da3ff;
}

body.dark-mode .progress-container {
    background-color: #4a4a4a;
}

body.dark-mode .main-content {
    background-color: #1e1e1e;
}

body.dark-mode .language-card {
    background-color: #1e1e1e;
}

body.dark-mode .phone-button {
    background-color: #4da3ff;
}

/* Media Query */

@media (max-width: 768px) {
    * {
        margin: 0;
        border: 0;
    }

    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        order: 1;
        width: 100%;
        padding: 20px;
    }

    .sidebar .nav {
        padding: 20px;
    }

    .main-content {
        order: 2;
    }

    .project-card {
        flex: 0 1 100%;
        padding-top: 15px;
    }

    .job {
        padding-top: 15px;
    }

    #formacion-academica h2 {
        padding-bottom: 15px;
    }

    #formacion-academica h3 {
        padding-top: 15px;
    }

    #formacion-academica li {
        padding-top: 15px;
    }

    #habilidades h2 {
        padding-bottom: 15px;
    }

    #habilidades li {
        padding-top: 15px;
    }

    #idiomas h2 {
        padding-bottom: 15px;
    }

    #idiomas li {
        padding-top: 15px;
    }

    #lenguajes h2 {
        padding-bottom: 15px;
    }

    .language-grid {
        padding-top: 15px;
    }
}