[Unit]
Description=AutoMail Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/portafolio/other/AutoMail
ExecStart=/var/www/portafolio/other/AutoMail/.venv/bin/python /var/www/portafolio/other/AutoMail/server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
