[Unit]
Description=AutoMail Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/portafolio/other/AutoMail
ExecStart=/bin/bash /var/www/portafolio/other/AutoMail/launch.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
