[Unit]
Description=AutoMail Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/portafolio/other/AutoMail
ExecStart=/usr/bin/python3 /var/www/portafolio/other/AutoMail/server.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
