# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# Base de datos
data/
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
